/part1/node_modules
/part2/node_modules
/part2/vite_test/vite/node_modules
/part3/node_modules
/part4/node_modules
/part5/node_modules
/part6/node_modules
/part7/node_modules
/express_dom_error_handling/node_modules
/postman/node_modules

/template
/#untracked